Append: The append function adds (appends) an element to a list of code. However, it only adds the new element to the end of the list

In [1]:
names=[]
names

[]

In [2]:
names.append('Braden')
names

['Braden']

In [3]:
names.append('Carter')
names

['Braden', 'Carter']

Extend: The extend function adds all the elements of a list, tuple, string, etc., to the end of the list. It allows you to extend one list into another

In [4]:
prime_numbers=[2,3,5]
prime_numbers

[2, 3, 5]

In [5]:
numbers=[1,4,6]
numbers

[1, 4, 6]

In [6]:
numbers.extend(prime_numbers)
numbers

[1, 4, 6, 2, 3, 5]

Insert: The insert function adds (inserts) an element into a list. Unlike the append function, you can use the insert function to add a word or number anywhere in the list

In [7]:
names=['Braden','Carter']
names

['Braden', 'Carter']

In [8]:
names.insert(1, 'Ethan')
names

['Braden', 'Ethan', 'Carter']

Remove: The remove function gets rid of (removes) an element from a list, and allows you to remove an element from anywhere in the list, similar to the insert function

In [9]:
cars=['Bugatti','Ferrari','Lamborghini','McLaren']
cars

['Bugatti', 'Ferrari', 'Lamborghini', 'McLaren']

In [10]:
cars.remove('Ferrari')
cars

['Bugatti', 'Lamborghini', 'McLaren']

Count: This function gives you the number of whichever element or elements you wish to find in a list

In [11]:
vowels=['a','e','i','o','u']
count=vowels.count('i')
count

1

Index: An index is a value given to an element in a list, starting from 0 (0 being the first element in the list)

In [12]:
cars=['Bugatti','Ferrari','Lamborghini','McLaren']
cars

['Bugatti', 'Ferrari', 'Lamborghini', 'McLaren']

In [13]:
cars[1] # This will give me the output, 'Ferrari'

'Ferrari'

In [14]:
cars[3] # This will give me the output, 'McLaren'

'McLaren'

Pop: The pop function removes (pops) an element from a list. You can choose to remove whichever element you want to remove, by giving an index value

In [15]:
cars=['Bugatti','Ferrari','Lamborghini','McLaren']
cars

['Bugatti', 'Ferrari', 'Lamborghini', 'McLaren']

In [16]:
cars.pop(1) # This will delete 'Ferrari'
cars

['Bugatti', 'Lamborghini', 'McLaren']

Sorted: The sorted function rearranges (sorts) a list in any way you tell it to. You can go from lowest to highest and vice versa, and alphabetical lowest to highest and vice versa

In [17]:
cars=['Ferrari','Bugatti','McLaren','Lamborghini']
cars

['Ferrari', 'Bugatti', 'McLaren', 'Lamborghini']

In [18]:
cars.sort()
cars

['Bugatti', 'Ferrari', 'Lamborghini', 'McLaren']

In [19]:
cars.sort(reverse=True)
cars

['McLaren', 'Lamborghini', 'Ferrari', 'Bugatti']

Copy: Copying allows you to transfer a line or lines of code quickly by highlighting the code you wish to copy, pressing 'ctrl c' to copy, going to the code line you wish to paste it to, and pressing 'ctrl v' to paste it

In [20]:
cars=['Ferrari','Bugatti','McLaren','Lamborghini'] # I used control c and control v to copy and paste this line of code from a previous code cell
cars

['Ferrari', 'Bugatti', 'McLaren', 'Lamborghini']

Clear: Clearing allows you to remove a code cell quickly. You can do this by clicking on the code cell you wish t clear, clicking on 'cell' at the top of the page, 'current outputs', and 'clear'

List: The list function organizes a series of elements, from numbers to words, and can include both. Many functions can be applied to lists to give various outputs, such as finding the number of elements in a list, the max value, and min value are a few examples

In [21]:
cars=['Bugatti','Ferrari','Lamborghini','McLaren']
cars

['Bugatti', 'Ferrari', 'Lamborghini', 'McLaren']

Len: The len function gives you the length of the code, it tells you how many letters and spaces are in a line of code

In [22]:
cars=['Bugatti','Ferrari','Lamborghini','McLaren']
cars

['Bugatti', 'Ferrari', 'Lamborghini', 'McLaren']

In [23]:
len(cars)

4

Max: The max function gives you either the highest number in a list, or the highest word. The highest word goes from a-z, a being the lowest and z the highest, and A-Z, A being the lowest and Z the highest. The lower case letters are higher than the upper case letters, so lower case ‘z’ is the highest, and the upper case ‘A’ is the lowest

In [24]:
numbers=[3,7,12,17,23,40]
numbers

[3, 7, 12, 17, 23, 40]

In [25]:
max(numbers)

40

Min: The min function gives you either the lowest number in a list, or the lowest word. The lowest word goes from a-z, a being the lowest and z the highest, and A-Z, A being the lowest and Z the highest. The lower case letters are higher than the upper case letters, so lower case ‘z’ is the highest, and the upper case ‘A’ is the lowest

In [26]:
numbers=[3,7,12,17,23,40]
numbers

[3, 7, 12, 17, 23, 40]

In [27]:
min(numbers)

3

# PA2: Working with Lists and Tuples
## Braden Heuglin
### Version 1
#### Fall Semester 2022: CS 150-01

## Extra Credit at the end of the assignment

In [28]:
rotate=('Braden','Soccer',17)
rotate

('Braden', 'Soccer', 17)

In [29]:
type(rotate)

tuple

In [30]:
name, sport, number = rotate

In [31]:
name

'Braden'

In [32]:
sport

'Soccer'

In [33]:
number

17